<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css"  media="all" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/register}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Forma e regjistrimit</h2>
                <div class="form-group">
                    <div class="col-md-12">
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{username}" placeholder="Username"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{firstname}" placeholder="Emri"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label	th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{lastname}"
                               placeholder="Mbiemri" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block">Register User</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>


            </form>
            Mund te logoheni: <a th:href="@{/login}" title="Login">ketu</a>
        </div>
    </div>
</div>

</body>
</html>